<!--<div class="main">

  <div class="navbar">
    <h1 class="title-section">my first application</h1> 
  </div>

  <p class="city-section">{{city3}}</p>
  {{name}}
  <p>{{name}}</p>

  <p>{{no1 + no2}}</p>

  <p>{{500 + 40}}</p>

  <p>{{500 + 'siddhi' + 40 }}</p>
  <p>{{500 + 'siddhi' + 40 + 20 }}</p>
  <p>{{500 + 20 + 'siddhi' + 40 + 20 }} </p>

  <p>{{learninginterpolation()}}</p>

  <p>{{no1==no2}}</p>  <!--it will return true or false-->

 <!-- <p>{{cars}}</p>

  <p>{{student.age}}</p>
  <p>{{student.name}}</p>
  Name : <input type="text" value="Siddhi" placeholder="Please Enter Your Name"><br><br>



  <!-- prperty binding-->

  <!-- city Name : <input type="text" [value]="city2" placeholder="Please Enter Your City Name">

   car Name : <input type="text" [value]="car">
   student Name : <input type="text" [value]="student.age"><br><br>

   Gender : <br>
   Male <input type="radio" [value]="genderM" name="gender" (change)="gen($event)">
   Female <input type="radio" [value]="genderF" name="gender" (change)="gen($event)"><br><br>

   Hobbies:
   Painting <input type="checkbox" [value]="paintingHobby" (change)="hobbies($event)">
   Skeching <input type="checkbox" [value]="skechingHobby" (change)="hobbies($event)">
   Reading <input type="checkbox" [value]="readingHobby" (change)="hobbies($event)"><br><br>

   <button (click)="submit($event)" >Submit</button><br><br>

   <!--Two way data binding  : 
    two way data binding has feature to update data from componant to view and view to componant-->
     
    <!--Student Name :<input type="text" [(ngModel)]="studentName"> <br> <br>
   <p> {{studentName}}</p>
   Emp Name : <input type="text" [(ngModel)]="empName">
   {{empName}} <br> <br>
   
   <!-- <input type="text" [(ngmodel)]="num1">num1
   <input type="text" [(ngmodel)]="num2">num2
   <button (click)="addition()">Addition</button>

   {{result}}
</div>-->



<!--<div class="main">
<h1>My First Page</h1> 
<h1>{{heading}}</h1>


<input type="text" [(ngModel)]="myCityName">
{{myCityName}} <br><br>

<input type="number" [(ngModel)]="addnumber1">
<input type="number" [(ngModel)]="addnumber2">

<button (click)="additionOfNumber()"> click to me add</button><br>
{{addresult}}

</div>-->



<router-outlet></router-outlet> 



